#video{
    width: 100%;
    height: 500px;
    border: none;
}
.movie_head{
    font-size: 22px;
    border-radius:10px ;
    margin-bottom:15px ;
}
 .movie_head i{
    float: right;

}
.new{
    margin-bottom:20px ;
}
.travel_mainDiv
 {
     border: 1px solid lightgrey;
     } 
     .travel_mainDiv img {
         width: 100%;
         } 
         .travel_mainDiv h5 , .travel_mainDiv p { 
            margin: 20px; 
        }